<figure>
  <div class="picture" ng-class=yoga.headerImg></div>
</figure>

<div class="content">
  <header>
    <h1>{{ yoga.title }} <small>Denver based yoga and barre teacher specializing in fun vinyasa flow</small></h1>
  </header>
  <h3>Welcome!</h3>
  <p>
  Mel originally came to yoga as a complement to triathlon training and
  believes in moving meditation anywhere you can find it: in your running
  shoes, on the yoga mat, or at the barre.
  </p>
  <div class="inset" style="background-image: url('img/003.jpg'); float: left; background-position: center;" alt=""></div>
  <p>
  Mel is a lively, dynamic teacher who tailors classes to the bodies in the
  room. Her goal is to keep you in safe alignment, make you laugh, and give you
  something to think about. Her higher education started at the University of
  Alabama and finished at UC Berkeley (that’s a long story), and as a teacher
  she has completed a 200 hour vinyasa training and a 60 hour barre training.
  Her goal is to create classes that resonate whether your primary goal is a
  deeper connection to extraordinary consciousness or more open hamstrings.
  Your call.
  </p>
  <p>
  After growing up on the move in a military family, Mel  happily put down
  roots in Colorado in 2008. Outside of teaching, she works for a Denver
  software start up, never misses City Park Jazz, and lives with two dogs and a
  man.
  </p>
</div>
