<figure>
  <div class="picture" ng-class=yoga.headerImg></div>
</figure>

<div class="content">
  <header>
    <h1>{{ yoga.title }} <small>Denver based yoga and barre teacher specializing in fun vinyasa flow</small></h1>
  </header>
  <ul class="ClassTab">
    <li class="tab"><a class="link" ui-sref="classes.locations" ui-sref-active="active">Locations</a></li>
    <li class="tab"><a class="link" ui-sref="classes.calendar" ui-sref-active="active">Calender</a></li>
  </ul>
  <ui-view class="classes"></ui-view>
</div>
