<div class="classes">
  <h3> Find me teaching here: </h3>
  <div class="inset" style="background-image: url('img/002.jpg')" alt=""></div>
  <ul class="showList showList--locations">
    <li>
      <a href="http://www.kindnesscollective.com/locations/rino">Kindness Rino</a>
      <address> 3563 Larimer Street<br>Denver, CO 80205 </address>
    </li>
    <li>
      <a href="http://www.patagonia.com/patagonia-denver-1431-15th-street-blake-street-denver-colorado-80202/store_924604854.html">Patagonia </a>
      <address> 1431 15th Street<br>Denver, CO 80202 </address>
      <aside> Patagonia offers a free community class in the store every Wednesday night at 7:30 pm </aside>
    </li>
    <li>
      <a href="https://www.wellbridge.com/colorado-athletic-club/union-station/fitness-wellness/class-schedule">Colorado Athletic Club - Union Station</a>
      <address> 1601 Wewatta Street<br>Denver, CO 80202 </address>
    </li>
  </ul>
</div>
