<figure>
  <div class="picture" ng-class=yoga.headerImg></div>
</figure>

<div class="content">
  <header>
    <h1>{{ yoga.title }} <small>Denver based yoga and barre teacher specializing in fun vinyasa flow</small></h1>
  </header>
  <p>
  I usually get Googled for two reasons: Yoga or PaySimple, where I am the Director of Empowerment. A big part of my job at PaySimple is managing our hiring, so if you're doing some due diligence before an interview, great! Let me point you in the right direction:
  </p>
  <ul class="showList">
    <li><a href="http://paysimple.com/career_opportunities.html"> PaySimple Careers Page </a></li>
    <li><a href="https://www.youtube.com/channel/UC4J3iFVRUiFDmt9ulkfUvyw/videos"> PaySimple Jobs YouTube channel </a></li>
    <li>My <a href="https://www.linkedin.com/in/meltorgusen"> LinkedIn Profile </a></li>
    <li>Two short talks I gave on company <a href="https://www.youtube.com/watch?v=t8DsgNnjzMY"> culture </a> and <a href="https://vimeo.com/107314331">perks</a></li>
    <li>PaySimple's <a href="http://www.glassdoor.com/Overview/Working-at-PaySimple-EI_IE694120.11,20.htm">Glassdoor Reviews </a></li>
  </ul>
</div>
